name: Main CI

on:
  workflow_dispatch:
    inputs:
        distTag:
          description: 'Dist tag to publish'
          required: true
          default: 'latest'
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  build_and_testing:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.yarn
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - uses: actions/setup-node@v2-beta
        with:
          always-auth: true
          node-version: 12

      - name: Creates local .npmrc
        if: ${{github.event.inputs.distTag == 'latest'}}
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build & Testing
        run: |
          yarn build
          yarn test

      - name: Release
        if: ${{github.event.inputs.distTag == 'latest'}}
        run: |
          git config --global user.email "sergiomorenoalbert@gmail.com"
          git config --global user.name "Lingui CI"
          npm run release
